# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#venv
.balancenv/

#logs
logs/
results/

#saved models
checkpoints/

#dataset
group*_combined.csv

# Ignore all PNG files
*.png

# Ignore all JPG and JPEG files
*.jpg
*.jpe

# Ignore images in the folder
presentation/images/

# Ignore non-pdf presentation
*.pptx

# Papers
related_lit/

# Plots for presentation
Other/plot_metrics.py